/* MEDIA */
/*-----------------------------------------------------------*/
@media (max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
    .product-main-img{
      max-width: 80%;
    }
    nav .nav-items li a{
        color: #000;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        transition: 0.4s ease-in-out;
      }
  }
/*-----------------------------------------------------------*/
  @media (max-width: 1140px){

  }
/*-----------------------------------------------------------*/
  @media (max-width: 998px){

    .product-main-img{
      max-width: 80%;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    .user, .cart  i{
        font-size: 24px;
        color: #000;
        display: block;
      }
      .cart > .span-name{
        display: none;
      }
      .user > .span-name{
        display: none;
      }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background: #fff;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nav .nav-items.active{
      left: 0px;
      z-index: 999;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
    nav .nav-items li a{
      font-size: 20px;
      color: #000;
    }
    nav .search-form{
      position: absolute;
      top: 80px;
      right: 50px;
      opacity: 0;
      z-index: 999;
      min-width: 60%;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav .search-form.active{
      top: 75px;
      opacity: 1;
      pointer-events: auto;
    }
    .user > i, .cart > i{
      margin-left: 5px;
      }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .space{
    margin: 10px 0;
  }
  nav .logo.space{
    color: red;
    padding: 0 5px 0 0;
  }
  .banner-image{
    max-width: 500px;
  }
  .banner-image img{
    width: 100%;
    height: auto;
  }
  .banner-text{
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    text-align: left;
  }
  .banner-text h1{
    font-size: 36px;
  }
  .banner-text h2{
    font-size: 24px;
  }
  .show-catalog{
    font-size: 16px;
    float: left;
    max-width: 80%;
  }
  .arrival-main img{
    max-height: 200px;
  }
  .add-to-cart{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .to-cart{
    width:150px;
    height: 40px;
    background:#e63600;
    border-radius:4px;
    font-size: 20px;
    margin-left: 0px;
    line-height: 40px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: .4s ease-in-out;
  }
}
/*-----------------------------------------------------------*/
@media (max-width: 768px){
.container{
    width: 100%;
}
.add-to-cart{
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-wrap{
  z-index: 999;
}
.to-cart{
  width:150px;
  height: 40px;
  background:#e63600;
  border-radius:4px;
  font-size: 20px;
  margin-left: 20px;
  line-height: 40px;
  margin-top: 0px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: .4s ease-in-out;
}
.also-row{
  display: none;
}
.also-slider{
  display: block;
}
.nav-item:after{
  display: none;
}
.nav-item{
  position: relative;
  transition: all 200ms linear;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 20px;
  margin: 10px 0;
  flex-direction: column;
}
.nav-item li, .cart, .user{
  font-size: 20px;
}
.search-form{
  height: 50px;
  text-align: left;
  z-index: 600;
}
.lg-wrap{
  padding-top: 0px;
  padding-left: 0px;
}
/* .nav-item::before {
  /* position: absolute;
  display: block;
  top: 15px;
  left: 0;
  width: 11px;
  height: 1px;
  content: "";
  border: none;
  background-color: #000;
  vertical-align: 0; 
}
/* .dropdown-toggle::after {
  position: absolute;
  display: block;
  top: 10px;
  left: -23px;
  width: 1px;
  height: 11px;
  content: "";
  border: none;
  background-color: #000;
  vertical-align: 0;
  transition: all 200ms linear;
} */
.dropdown-toggle[aria-expanded="true"]::after{
  transform: rotate(90deg);
  opacity: 0;
}
.dropdown-menu {
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none;
  transition: all 200ms linear;
}
.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
body.dark .nav-item::before {
  background-color: #fff;
}
body.dark .dropdown-toggle::after {
  background-color: #fff;
}
body.dark .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
}
.user, .cart  i{
  font-size: 24px;
  color: #000;
  display: block;
}
.cart > .span-name{
  display: block;
  margin-right: 5px;
}
.user > .span-name{
  display: block;
  margin-right: 5px;
}
.user, .cart{
  font-size: 20px;
}
.login-form{
  width: 100%;
}
.banner-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-image img{
    max-width: 90%;
    height: auto;
  }
  .banner-text{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-text h1{
    font-size: 36px;
  }
  .banner-text h2{
    font-size: 28px;
  }
  .show-catalog{
    width: 60%;
    margin: 0 auto;
  }
  .plus-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .cont-image img{
    width: 60px;
    height: auto;
  }
  .plus-content{
    padding: 40px 10px;
  }
  .cont-text{
    font-size: 14px;
  }
  .arrival-main img{
    max-height: 200px;
  }
  .upper-footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
  }
  .upper-footer .nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .upper-footer .nav-items li{
    margin: 15px 0;
  }
  .upper-footer .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.2);
  }
  .lowelower-footer{
    text-align: center;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
	width: 40px;
	text-align: center;
	font-size: 24px;
	margin-left: 15px;
	color: #000;
  position: absolute;
  right: 50px;
	cursor: pointer;
  }
  nav .search-form.active {
    top: 50px;
    opacity: 1;
    pointer-events: auto;
    -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.3);
}
}
/*-----------------------------------------------------------*/
@media (max-width: 576px){
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
    margin: 0 10px;
    font-size: 24px;
}
.cont-text{
  font-size: 16px;
}
.arrival-main img{
  max-height: 300px;
}
.my-pag > .page-item > a{
  color: #000;
  font-size: 16px;
  padding: 10px 10px;
  transition: .4s ease-in-out;
}
}
@media (max-width: 440px){
    .show-catalog{
        width: 100%;
        margin: 0 auto;
      }
      .breadcrumb > li {
        display: inline-block;
        font-size: 14px;
      }
      .banner-text{
        text-align: center;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
      }
      .banner-text h1{
        font-size: 24px;
      }
      .banner-text h2{
        font-size: 20px;
      }
      .register-form .inputfield{
        flex-direction: column;
        align-items: flex-start;
      }
       .register-form .inputfield label{
        margin-bottom: 5px;
      }
       .register-form .inputfield .terms{
        flex-direction: row;
      }
      .arrival-main img{
        max-height: 200px;
      }
}
/*-----------------------------------------------------------*/
@media (max-width: 350px){
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
    margin: 0 10px;
    font-size: 24px;
}
.arrival-main img{
  max-height: 150px;
}
}
/*-----------------------------------------------------------*/